<div class="container">
    <h1>Honorable Cámara de Diputados de la provincia de  Santa Cruz</h1>
    <div class="form-container">
        <img src="../../../assets/images/escudo_camara_de_pueblo.png" alt="">
        <form class="login-form">
            <div class="input-container">
                <input type="text" id="username" name="username" required>
                <label for="username">Usuario</label>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password" required>
                <label for="password">Contraseña</label>
            </div>
                <button (click)="login()">Iniciar sesión</button>
            </form>

            <h4><p>© 2023 Dir. Innovación y Modernización</h4>
    </div>
</div>